.login-container {
    height: 100vh;

    .card-title {
        color: blue;
    }

    &__main-col {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__login-form {
        height: 60vh;
        width: 70%;
        border-radius: 50px;
        overflow: hidden;
    }

    &__bg-image {
        height: 60vh;
    }

    &__form {
        padding: 10px;
    }

}