.parent-container {
  padding: 3rem 10rem;
}

.appointment-detail-col {
  font-size: 1.3rem;
}
.card {
  border: none;
}
.card-title {
  padding: 1rem 0 0.5rem 1rem;
  background-color: #f0f8ff;
  border: 1px solid lightgrey;
}

.card-body {
  padding: 0;
}
