.navbar {
    padding: 0;

    .homecare-name {
        font-size: 24px;
        color: #FFFFFF;
        font-family: "Bevan", serif;
    }

    .main-header-nav {
        background: darkblue;

        .main-logo {
            padding-left: 5rem;
        }
    }

    .nav-item {
        font-size: 24px;
        font-weight: 600;
        padding: 2rem;

        .nav-link {
            color: #FFFFFF;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 1346px) {

    .nav-item,
    .homecare-name {
        font-size: 15px !important;
    }
}