.dashboard-container {
    padding: 5rem 0;

    &__introduction {
        font-family: "Cormorant Garamond", sans-serif;
        padding-right: 8.8%;

        h1 {
            font-size: 3.5rem;
        }

        h2 {
            font-size: 2.5rem;
        }

        h1,
        h2 {
            font-weight: 600;
        }

        p {
            font-size: 26px;
            text-align: justify;
            /* For Firefox */
            text-justify: distribute;
        }
    }
}